----
<img src="../Example.DataLibrary.Python-main/files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## RDP Middle Office News Use Case
Request company PermID, OrgName and statusPass for a large list of CUSIP, ISIN or SEDOLs:

Symbol conversion via RDP Symbology - **RDP Symbology permissions are required**

1. Read SEDOLs from file and chunk the list of SEDOLs
2. Map SEDOLs to PermIds
3. Request OrgName and Status


### Imports and Setup

In [26]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../Example.DataLibrary.Python-main/Configuration"

In [27]:
import refinitiv.data as rd
from refinitiv.data.delivery import endpoint_request
import asyncio
import pandas as pd
import numpy as np

In [28]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

### Read file with IDs
For tesing, we create a short list with defaultIDs and read in a long list of myIDs

In [29]:
defaultIDs =  ['BDZDRC5','BFZP189','BGY7Q00']
def readIDFile(filename):
    if filename != '':
        f = open(filename, "r")
        idList = f.read().splitlines()
        print('Read '+str(len(idList))+' IDs from file '+filename)
    else:
        idList = defaultIDss
    return idList
myIDs = readIDFile('SEDOLs.csv')

Read 2754 IDs from file SEDOLs.csv

### Chunk Long List into myIDChunks - Define a Helper Function

In [30]:
CHUNK_SIZE = 500
def list_to_chunks(long_list, chunk_size):
    chunked_list = list()
    for i in range(0, len(long_list), chunk_size):
        chunked_list.append(long_list[i:i+chunk_size])
    return chunked_list
myIDChunks = list_to_chunks(myIDs, CHUNK_SIZE)
#print('My chunks are ',myIDChunks)
print('Number of chunks is: ',len(myIDChunks))

Number of chunks is:  6

### Open an RDP Session

In [42]:
# The session selected is required to have permissions 
# trapi.data.get.data.read, trapi.data.symbology.read
# contact your Refinitiv account manager to verify permissions in place
rd.open_session("desktop.workspace")
#rd.open_session(name='platform.rdp',config_name='../Example.DataLibrary.Python-main/Configuration/refinitiv-data.config.json')

### Define Request Body Skeleton

In [43]:
# Example request with Body Parameter - Symbology Lookup
reqBodyPERMID  =  {         # Specify body parameters
        "from": [
            {
                "identifierTypes": [
                    "SEDOL"
                ],
                "values": [
                    
                ]
            }
        ],
        "to": [
            {
                "objectTypes": ["anyinstrument"],
                 "identifierTypes": ["PermID"]
            }
        ],
        "type": "auto"
    }

### Request Lookup with defaultIDs
Enrich request body skeleton with defaultIDs

In [44]:
defaultIDs =  ['BDZDRC5','BFZP189','BGY7Q00']

reqBodyPERMID['from'][0]['values'] = defaultIDs 
request_definition = rd.delivery.endpoint_request.Definition(
    method = rd.delivery.endpoint_request.RequestMethod.POST,
    url = 'https://api.refinitiv.com/discovery/symbology/v1/lookup',
    body_parameters = reqBodyPERMID
)

response = request_definition.get_data()
response.data.raw
df = pd.json_normalize(response.data.raw,  record_path =['data'])
df

,input,output
0,"[{'value': 'BGY7Q00', 'identifierType': 'SEDOL'}]","[{'value': '21585425786', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]"
1,"[{'value': 'BDZDRC5', 'identifierType': 'SEDOL'}]","[{'value': '21528734875', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]"
2,"[{'value': 'BFZP189', 'identifierType': 'SEDOL'}]","[{'value': '21660454628', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]"

### Requests Lookup for Longer List of IDs
In chunks and display the single result

In [45]:
dataAll = []
dfCompleteResult = pd.DataFrame()

for i in range(len(myIDChunks)):
    reqBodyPERMID['from'][0]['values'] = myIDChunks[i] 
    request_definition = rd.delivery.endpoint_request.Definition(
        method = rd.delivery.endpoint_request.RequestMethod.POST,
        url = 'https://api.refinitiv.com/discovery/symbology/v1/lookup',
        body_parameters = reqBodyPERMID
    )

    response = request_definition.get_data()
    response.data.raw
    df = pd.json_normalize(response.data.raw,  record_path =['data'])
    
    print("Requested chunk #", i)
#    print(df)
    dataAll.append(df)
dfCompleteResult = pd.concat(dataAll,ignore_index=True)
print('Displaying result:')
display(dfCompleteResult)

Requested chunk # 0
Requested chunk # 1
Requested chunk # 2
Requested chunk # 3
Requested chunk # 4
Requested chunk # 5
Displaying result:

,input,output,errors
0,"[{'value': 'B1CLYW7', 'identifierType': 'SEDOL'}]","[{'value': '8590929771', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
1,"[{'value': 'BYXYF34', 'identifierType': 'SEDOL'}]","[{'value': '8590933028', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
2,"[{'value': 'B16HTQ0', 'identifierType': 'SEDOL'}]","[{'value': '8589999123', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
3,"[{'value': '2391092', 'identifierType': 'SEDOL'}]","[{'value': '8590923508', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
4,"[{'value': 'BH3T5K7', 'identifierType': 'SEDOL'}]","[{'value': '8590937427', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
5,"[{'value': 'B23PS12', 'identifierType': 'SEDOL'}]","[{'value': '8590016136', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
6,"[{'value': '5730324', 'identifierType': 'SEDOL'}]","[{'value': '8590932594', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
7,"[{'value': 'B063NY7', 'identifierType': 'SEDOL'}]","[{'value': '8590936959', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
8,"[{'value': '2783815', 'identifierType': 'SEDOL'}]","[{'value': '8590937417', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
9,"[{'value': 'B1CDZ19', 'identifierType': 'SEDOL'}]","[{'value': '8590922042', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
10,"[{'value': '2969637', 'identifierType': 'SEDOL'}]","[{'value': '8590927771', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
11,"[{'value': '2683410', 'identifierType': 'SEDOL'}]","[{'value': '8590929567', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
12,"[{'value': '2208288', 'identifierType': 'SEDOL'}]","[{'value': '8590920986', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
13,"[{'value': 'BKPW3G7', 'identifierType': 'SEDOL'}]","[{'value': '21568435680', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
14,"[{'value': 'BFZP189', 'identifierType': 'SEDOL'}]","[{'value': '21660454628', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
15,"[{'value': 'BGSS1J3', 'identifierType': 'SEDOL'}]","[{'value': '21655477179', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
16,"[{'value': 'BYZFG43', 'identifierType': 'SEDOL'}]","[{'value': '46641209213', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}]",NaN
17,"[{'value': 'B03MRG7', 'identifierType': 'SEDOL'}]","[{'value': '8590937866', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
18,"[{'value': 'BH7QXJ9', 'identifierType': 'SEDOL'}]","[{'value': '8590927621', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
19,"[{'value': '2620503', 'identifierType': 'SEDOL'}]","[{'value': '8590940970', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
20,"[{'value': '2510659', 'identifierType': 'SEDOL'}]","[{'value': '8590932013', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
21,"[{'value': 'BKWD3M9', 'identifierType': 'SEDOL'}]","[{'value': '21714622057', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
22,"[{'value': 'BLFGN66', 'identifierType': 'SEDOL'}]","[{'value': '8590006632', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
23,"[{'value': 'B02ZP96', 'identifierType': 'SEDOL'}]","[{'value': '8590934322', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
24,"[{'value': 'BNDK6G5', 'identifierType': 'SEDOL'}]","[{'value': '25727309955', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
25,"[{'value': 'BRTMBB3', 'identifierType': 'SEDOL'}]","[{'value': '8590935027', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
26,"[{'value': '6658801', 'identifierType': 'SEDOL'}]","[{'value': '8590931864', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
27,"[{'value': '4684808', 'identifierType': 'SEDOL'}]","[{'value': '8590929138', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
28,"[{'value': 'BYX91H5', 'identifierType': 'SEDOL'}]",[],NaN
29,"[{'value': 'BSTLF15', 'identifierType': 'SEDOL'}]","[{'value': '8590940422', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
30,"[{'value': '4512330', 'identifierType': 'SEDOL'}]","[{'value': '8590926849', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
31,"[{'value': '5101867', 'identifierType': 'SEDOL'}]","[{'value': '8590926257', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
32,"[{'value': '5817089', 'identifierType': 'SEDOL'}]","[{'value': '8590059136', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
33,"[{'value': 'BDCQLB4', 'identifierType': 'SEDOL'}]","[{'value': '21577420062', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
34,"[{'value': 'B0WHBS3', 'identifierType': 'SEDOL'}]","[{'value': '8590920825', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
35,"[{'value': 'B0CM7X5', 'identifierType': 'SEDOL'}]","[{'value': '8590938568', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
36,"[{'value': '4642743', 'identifierType': 'SEDOL'}]","[{'value': '8590938516', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
37,"[{'value': 'BD4HFS0', 'identifierType': 'SEDOL'}]","[{'value': '21612525419', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
38,"[{'value': 'BD8ZZ24', 'identifierType': 'SEDOL'}]","[{'value': '21529526222', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
39,"[{'value': '5532188', 'identifierType': 'SEDOL'}]",[],NaN
40,"[{'value': 'BF1H8X3', 'identifierType': 'SEDOL'}]","[{'value': '21503758337', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
41,"[{'value': '2872069', 'identifierType': 'SEDOL'}]","[{'value': '8590925675', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
42,"[{'value': '6657701', 'identifierType': 'SEDOL'}]","[{'value': '8590926861', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
43,"[{'value': 'B13TCP9', 'identifierType': 'SEDOL'}]","[{'value': '8590931671', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
44,"[{'value': '2267278', 'identifierType': 'SEDOL'}]","[{'value': '8590936801', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
45,"[{'value': 'BKT7807', 'identifierType': 'SEDOL'}]","[{'value': '21693338510', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
46,"[{'value': '6324511', 'identifierType': 'SEDOL'}]","[{'value': '8589970110', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
47,"[{'value': 'BLCF612', 'identifierType': 'SEDOL'}]","[{'value': '192880974844', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}, {'value': '25727354501', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
48,"[{'value': 'BF2XLS6', 'identifierType': 'SEDOL'}]","[{'value': '21615062550', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}, {'value': '46648475089', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}]",NaN
49,"[{'value': 'BM8CH44', 'identifierType': 'SEDOL'}]","[{'value': '8590922763', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
50,"[{'value': 'BF44466', 'identifierType': 'SEDOL'}]","[{'value': '8590923171', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
51,"[{'value': '2036779', 'identifierType': 'SEDOL'}]","[{'value': '8590941202', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
52,"[{'value': 'B063YC2', 'identifierType': 'SEDOL'}]","[{'value': '8590930028', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
53,"[{'value': 'BYZMG55', 'identifierType': 'SEDOL'}]","[{'value': '21651361483', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
54,"[{'value': 'BYX2YJ7', 'identifierType': 'SEDOL'}]","[{'value': '8590935535', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
55,"[{'value': 'BYXMWV5', 'identifierType': 'SEDOL'}]","[{'value': '8590925175', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
56,"[{'value': 'BNW2543', 'identifierType': 'SEDOL'}]","[{'value': '8590923699', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
57,"[{'value': '7562213', 'identifierType': 'SEDOL'}]","[{'value': '8590925038', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
58,"[{'value': 'B8DHXF9', 'identifierType': 'SEDOL'}]","[{'value': '8590938374', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
59,"[{'value': 'BHR3MW6', 'identifierType': 'SEDOL'}]","[{'value': '8590928778', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
60,"[{'value': '2118707', 'identifierType': 'SEDOL'}]","[{'value': '8590935043', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
61,"[{'value': 'BK5T9W6', 'identifierType': 'SEDOL'}]","[{'value': '8590943370', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
62,"[{'value': '2394336', 'identifierType': 'SEDOL'}]","[{'value': '8590920874', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
63,"[{'value': '2186254', 'identifierType': 'SEDOL'}]","[{'value': '8590938914', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
64,"[{'value': '2070540', 'identifierType': 'SEDOL'}]","[{'value': '8590928692', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
65,"[{'value': 'BDRJH21', 'identifierType': 'SEDOL'}]","[{'value': '21632919931', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
66,"[{'value': 'B2PB3Z7', 'identifierType': 'SEDOL'}]","[{'value': '8590855063', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}, {'value': '15629828690', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}]",NaN
67,"[{'value': 'BFCB7X7', 'identifierType': 'SEDOL'}]","[{'value': '21530246903', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
68,"[{'value': 'BMVQHR6', 'identifierType': 'SEDOL'}]","[{'value': '25727426360', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
69,"[{'value': 'BWTYXH4', 'identifierType': 'SEDOL'}]","[{'value': '8591400076', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
70,"[{'value': 'B1LJ7G7', 'identifierType': 'SEDOL'}]","[{'value': '8590936428', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
71,"[{'value': 'ï»¿BDZDRC5', 'identifierType': 'SEDOL'}]",[],[Input value does not exist]
72,"[{'value': '2010278', 'identifierType': 'SEDOL'}]","[{'value': '8590922619', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
73,"[{'value': '2528027', 'identifierType': 'SEDOL'}]","[{'value': '8590930948', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
74,"[{'value': 'B06C6N4', 'identifierType': 'SEDOL'}]","[{'value': '8590921699', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
75,"[{'value': 'BD0B0R0', 'identifierType': 'SEDOL'}]","[{'value': '21532324495', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
76,"[{'value': 'B6VDQC3', 'identifierType': 'SEDOL'}]",[],NaN
77,"[{'value': '5076705', 'identifierType': 'SEDOL'}]","[{'value': '8590930783', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
78,"[{'value': 'BYSSY01', 'identifierType': 'SEDOL'}]",[],NaN
79,"[{'value': 'BDDQ975', 'identifierType': 'SEDOL'}]","[{'value': '21595625720', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
80,"[{'value': 'BMXD3Y4', 'identifierType': 'SEDOL'}]","[{'value': '8589945172', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
81,"[{'value': 'BF4M8J1', 'identifierType': 'SEDOL'}]","[{'value': '8590934250', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
82,"[{'value': 'BDRTC59', 'identifierType': 'SEDOL'}]","[{'value': '25727427343', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
83,"[{'value': 'B97B1Z0', 'identifierType': 'SEDOL'}]","[{'value': '8589955056', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
84,"[{'value': 'BK6S6J8', 'identifierType': 'SEDOL'}]","[{'value': '8590924605', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
85,"[{'value': 'BM8TFH4', 'identifierType': 'SEDOL'}]","[{'value': '8590684044', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}, {'value': '25727265565', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
86,"[{'value': 'BYMTDC5', 'identifierType': 'SEDOL'}]","[{'value': '21579204923', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
87,"[{'value': 'BKT6105', 'identifierType': 'SEDOL'}]","[{'value': '21731302656', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
88,"[{'value': 'BYSVGB5', 'identifierType': 'SEDOL'}]","[{'value': '8589990337', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
89,"[{'value': 'B63RTD5', 'identifierType': 'SEDOL'}]","[{'value': '21475805364', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
90,"[{'value': 'B4WD792', 'identifierType': 'SEDOL'}]","[{'value': '8591366661', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
91,"[{'value': 'BYZ1PQ6', 'identifierType': 'SEDOL'}]","[{'value': '21624465435', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
92,"[{'value': 'BGR7KH2', 'identifierType': 'SEDOL'}]","[{'value': '21591260129', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}, {'value': '25727393547', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
93,"[{'value': 'BKV0SP9', 'identifierType': 'SEDOL'}]","[{'value': '21542987975', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
94,"[{'value': 'BN0VBP5', 'identifierType': 'SEDOL'}]","[{'value': '8590935277', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
95,"[{'value': 'BMHT4M3', 'identifierType': 'SEDOL'}]",[],NaN
96,"[{'value': 'B75J8N9', 'identifierType': 'SEDOL'}]","[{'value': '21475110602', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
97,"[{'value': 'BDX87W2', 'identifierType': 'SEDOL'}]","[{'value': '21475817181', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
98,"[{'value': 'BQRX1Y4', 'identifierType': 'SEDOL'}]","[{'value': '21484014767', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
99,"[{'value': 'BTN1Y44', 'identifierType': 'SEDOL'}]","[{'value': '8590927694', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
100,"[{'value': '2487407', 'identifierType': 'SEDOL'}]","[{'value': '8590921865', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
101,"[{'value': 'B012Q73', 'identifierType': 'SEDOL'}]","[{'value': '8590919873', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
102,"[{'value': 'BJTJGC4', 'identifierType': 'SEDOL'}]","[{'value': '25727373235', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
103,"[{'value': '2367963', 'identifierType': 'SEDOL'}]","[{'value': '8590940450', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
104,"[{'value': 'BHZLKP1', 'identifierType': 'SEDOL'}]","[{'value': '8590936918', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
105,"[{'value': 'BWF9FC2', 'identifierType': 'SEDOL'}]","[{'value': '21559544650', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
106,"[{'value': 'BMYGG87', 'identifierType': 'SEDOL'}]","[{'value': '8590932771', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
107,"[{'value': 'B01LVT7', 'identifierType': 'SEDOL'}]","[{'value': '8590214554', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
108,"[{'value': 'BYZ88X5', 'identifierType': 'SEDOL'}]","[{'value': '21475779046', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
109,"[{'value': 'BZ1G432', 'identifierType': 'SEDOL'}]",[],NaN
110,"[{'value': 'BYVDV24', 'identifierType': 'SEDOL'}]","[{'value': '21568264187', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
111,"[{'value': '5562442', 'identifierType': 'SEDOL'}]","[{'value': '8590936762', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
112,"[{'value': '2552565', 'identifierType': 'SEDOL'}]","[{'value': '8590925717', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
113,"[{'value': '7742468', 'identifierType': 'SEDOL'}]","[{'value': '8590921950', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
114,"[{'value': 'BMDNMT2', 'identifierType': 'SEDOL'}]","[{'value': '8590941868', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
115,"[{'value': 'BFY1TC8', 'identifierType': 'SEDOL'}]","[{'value': '8590943340', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
116,"[{'value': 'BQRX1X3', 'identifierType': 'SEDOL'}]","[{'value': '21519861835', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
117,"[{'value': '2230946', 'identifierType': 'SEDOL'}]","[{'value': '8590927956', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
118,"[{'value': 'BN29WD2', 'identifierType': 'SEDOL'}]",[],NaN
119,"[{'value': 'BK7Y2V9', 'identifierType': 'SEDOL'}]","[{'value': '21696905217', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
120,"[{'value': 'BCZXZ79', 'identifierType': 'SEDOL'}]","[{'value': '21526110782', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
121,"[{'value': 'BWC6Q56', 'identifierType': 'SEDOL'}]","[{'value': '21559327692', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}, {'value': '46636136221', 'identifierType': 'PermID', 'objectType': 'GovCorpInstrument'}]",NaN
122,"[{'value': 'BKLKXD2', 'identifierType': 'SEDOL'}]","[{'value': '8590925750', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
123,"[{'value': 'BJP5PW9', 'identifierType': 'SEDOL'}]","[{'value': '21530118294', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
124,"[{'value': 'B79J095', 'identifierType': 'SEDOL'}]",[],NaN
125,"[{'value': '2276467', 'identifierType': 'SEDOL'}]","[{'value': '8590934954', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
126,"[{'value': '2065955', 'identifierType': 'SEDOL'}]","[{'value': '8590942892', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
127,"[{'value': 'B1HKFF9', 'identifierType': 'SEDOL'}]","[{'value': '8590926855', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
128,"[{'value': 'BGJVVS0', 'identifierType': 'SEDOL'}]","[{'value': '21577576597', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
129,"[{'value': 'BBDN080', 'identifierType': 'SEDOL'}]","[{'value': '8590933300', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
130,"[{'value': '2126249', 'identifierType': 'SEDOL'}]","[{'value': '8590931163', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
131,"[{'value': 'BK81PL0', 'identifierType': 'SEDOL'}]","[{'value': '21561786108', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
132,"[{'value': 'BCDYJ72', 'identifierType': 'SEDOL'}]","[{'value': '18068218945', 'identifierType': 'PermID', 'objectType': 'FundShareClass'}, {'value': '21524466730', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
133,"[{'value': 'B7KKF14', 'identifierType': 'SEDOL'}]","[{'value': '8590024802', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
134,"[{'value': 'BCFKQV1', 'identifierType': 'SEDOL'}]","[{'value': '21525959210', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
135,"[{'value': '6805049', 'identifierType': 'SEDOL'}]","[{'value': '8589971182', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN
136,"[{'value': 'BYQRFY1', 'identifierType': 'SEDOL'}]","[{'value': '21564174544', 'identifierType': 'PermID', 'objectType': 'EDInstrument'}]",NaN

### Extract PermIds and Request Org Names and Status

In [46]:
serAll = dfCompleteResult['output'].str.get(0)
permids = []
serAll
for val in serAll:
    if not pd.isna(val):
        permids.append(val.get('value'))
print(permids)

['8590929771', '8590933028', '8589999123', '8590923508', '8590937427', '8590016136', '8590932594', '8590936959', '8590937417', '8590922042', '8590927771', '8590929567', '8590920986', '21568435680', '21660454628', '21655477179', '46641209213', '8590937866', '8590927621', '8590940970', '8590932013', '21714622057', '8590006632', '8590934322', '25727309955', '8590935027', '8590931864', '8590929138', '8590940422', '8590926849', '8590926257', '8590059136', '21577420062', '8590920825', '8590938568', '8590938516', '21612525419', '21529526222', '21503758337', '8590925675', '8590926861', '8590931671', '8590936801', '21693338510', '8589970110', '192880974844', '21615062550', '8590922763', '8590923171', '8590941202', '8590930028', '21651361483', '8590935535', '8590925175', '8590923699', '8590925038', '8590938374', '8590928778', '8590935043', '8590943370', '8590920874', '8590938914', '8590928692', '21632919931', '8590855063', '21530246903', '25727426360', '8591400076', '8590936428', '8590922619', '8590930948', '8590921699', '21532324495', '8590930783', '21595625720', '8589945172', '8590934250', '25727427343', '8589955056', '8590924605', '8590684044', '21579204923', '21731302656', '8589990337', '21475805364', '8591366661', '21624465435', '21591260129', '21542987975', '8590935277', '21475110602', '21475817181', '21484014767', '8590927694', '8590921865', '8590919873', '25727373235', '8590940450', '8590936918', '21559544650', '8590932771', '8590214554', '21475779046', '21568264187', '8590936762', '8590925717', '8590921950', '8590941868', '8590943340', '21519861835', '8590927956', '21696905217', '21526110782', '21559327692', '8590925750', '21530118294', '8590934954', '8590942892', '8590926855', '21577576597', '8590933300', '8590931163', '21561786108', '18068218945', '8590024802', '21525959210', '8589971182', '21564174544', '21655798352', '8590934401', '8589940886', '21522115255', '192893745534', '8590932753', '8590925279', '8590928393', '25727442569', '8591255736', '8589994438', '25727346271', '8590920199', '25727399663', '8590934525', '8589988037', '8590939941', '8590921161', '21644460234', '8591403848', '8590920862', '21566985559', '21513904077', '8590924953', '21530935737', '8590932795', '192791974129', '8590920754', '21627494412', '8590919743', '21569626398', '8589941924', '232764189339', '21611314948', '21653171339', '8590935685', '25727268308', '8590940951', '8589944151', '8590922082', '8590943501', '8590005600', '8590921051', '8590923998', '8590942760', '44654477575', '8590005841', '8589956852', '8590937626', '21691059424', '8590924142', '8590943385', '8589998272', '8590933998', '8590919874', '46639304952', '21644521289', '21696817783', '25727426996', '8590938893', '8589938120', '8590935185', '8590931957', '8589981865', '8590939862', '8590929471', '8590920790', '8590931323', '8590028834', '8589991526', '21585425786', '21618750211', '8589950981', '8589941287', '8590009117', '8590935064', '25727341281', '21513156676', '8590932230', '8590926979', '25727414850', '21664175888', '8590938349', '8590920452', '8590934927', '8590925566', '8591315584', '21571716821', '8590926933', '21474961341', '21688010272', '8589965714', '25727360758', '8590937757', '21770222106', '21518993585', '21477564384', '8590926501', '8590941853', '21644421825', '8589964839', '8590929924', '8590935044', '8590001383', '8589956258', '21581971624', '8590939442', '21475873261', '21549740100', '8590932003', '8590941696', '21475005022', '8590014674', '21622447096', '8590943416', '44642980367', '8590004582', '8589959990', '8590000823', '8590925601', '8590925116', '8590932231', '8590921344', '21531376670', '8590928471', '21619744419', '8589971738', '8590941996', '21569833122', '21612783743', '8590924718', '8590930850', '8591107952', '21525025100', '8590933353', '8590930111', '8590932817', '8591316865', '8590935024', '8590934492', '8589980816', '25727382624', '21475752581', '8589945569', '8590928085', '8590938243', '8590928623', '21532058321', '8590938668', '8589999652', '21564568995', '21534717517', '8590933657', '21565417338', '8590935321', '8590934503', '8589959590', '21475202173', '21475775642', '21659942091', '25727268846', '8589961538', '8591107580', '8590934327', '25727351078', '21658142820', '25727419020', '8589949320', '8590018354', '21523065605', '21535435038', '21475129201', '8589946507', '21684630888', '8590941287', '8590925745', '8590929332', '8590938671', '8590933576', '25727349705', '8590927208', '8590935970', '21475895525', '8590936047', '8590932360', '8590932268', '8590934124', '21551286180', '25727344622', '25727263312', '21639249672', '44655517646', '21528061039', '8590937302', '8589982198', '8590926603', '21558736459', '8590936483', '21530854922', '8589953014', '21636820493', '46639188818', '8590927281', '8589972653', '21543872618', '8590931811', '8590941930', '21573970676', '8590931157', '8589974405', '8590941841', '21475838741', '21475136402', '8590936113', '21490400231', '8589942003', '8590964748', '8591360585', '8590939219', '8590940941', '8590930485', '21611256746', '8590932326', '8590942398', '21565669858', '8590931338', '8590926662', '8590927943', '25727265566', '8590923571', '8590923379', '8590931254', '8590005903', '21524853922', '8590938104', '8591061139', '25727392975', '8590932272', '8590926791', '25727323217', '8589985732', '8590922073', '21701689594', '8590011698', '8590931695', '8590938265', '21485226863', '21756787535', '44654041635', '8590931146', '21647020692', '8590940553', '46640389784', '8590937225', '8590922216', '21653167851', '8589982374', '8590932556', '8590935070', '21540107206', '21475849041', '8590934693', '21541978866', '8590933868', '8590921933', '21660536389', '21561469798', '21623728546', '8590930225', '8590922193', '8590927334', '8590026010', '8590936365', '21603676696', '8591002427', '8590921146', '8590942161', '8590926240', '8590919856', '46637784962', '8590930094', '8589949097', '8589968067', '8591401817', '8590943930', '8590940950', '8590938040', '46638604293', '8590920027', '8590138496', '21602135820', '21584094089', '21527105742', '8589939655', '8589966884', '8590935575', '8591399544', '8590939733', '25727281547', '8590933223', '21613072469', '8590943823', '8589939981', '8590926324', '8590932225', '8590927944', '8590924600', '8590930630', '21530709634', '8589954251', '8590029424', '46639387782', '8590926035', '8590922580', '8591005048', '8590928574', '8591399808', '21480965263', '21611324033', '21540287800', '8590922809', '21573749522', '21483864933', '8590939199', '21665842418', '8590933114', '8590925118', '8590924120', '8590002203', '8591108219', '8590924962', '8590937620', '21649505595', '21560448310', '8590920345', '21599711545', '8590929474', '8590923720', '8590926956', '8589999869', '21565685977', '21539675824', '25727396469', '21588705770', '8590924444', '44655550533', '8590921537', '8590922196', '8590936668', '21507891346', '21498033577', '8590933396', '8590941289', '8590007435', '8590923874', '8590936486', '8589986785', '8590941544', '21531581980', '21586559223', '8590930197', '8590938281', '8591361790', '8589984430', '21475137400', '21564713549', '8590020251', '21540011134', '8590929840', '8590930827', '8590937573', '8590943312', '8590921211', '8590927188', '8590943332', '21548755953', '8590924713', '21597150674', '8590921712', '8590943743', '8590004063', '21586249500', '8590939334', '21475106860', '8590011755', '8590835463', '8590931565', '8589989322', '8590925824', '46637766028', '8590921281', '21523228306', '8590929151', '8589942489', '8591276600', '8589943909', '21550977659', '8590005905', '8590929244', '8590934567', '21643049514', '8591110855', '21569784281', '8590928663', '21538146502', '8590934362', '8589987466', '8590932309', '8590920445', '8590921969', '21586178215', '21640110632', '8590922905', '8590942615', '8589965985', '21640356558', '8589953354', '8590925245', '8590940861', '21569898393', '8590922117', '8590930160', '8590920537', '21475839202', '8591109174', '8590940424', '21661937811', '21540252439', '21612645503', '8589949193', '21546395856', '8590942790', '8590938868', '8590928482', '8589948487', '8590928633', '8590937355', '8590940930', '8590938234', '21612585996', '8590936200', '8590018523', '21608161241', '8590935965', '8590931721', '21621668038', '21575328144', '192771736231', '8590923498', '8590943675', '21564221334', '8590826999', '21476499899', '25727426313', '8589979880', '8590937315', '46637813178', '8589966252', '21608752033', '25727395606', '21589353894', '8590943048', '8590929451', '18068236529', '8590926321', '8590928064', '21547001759', '8590933670', '8590034378', '8590925150', '8591107977', '21614727381', '8591114436', '21651645781', '8589977908', '8589941529', '44652837534', '8590933379', '8589948359', '8590941217', '8589987970', '21542481256', '8590922000', '8590017006', '21731783496', '8590941304', '8590928639', '8590939241', '8591383564', '21503758287', '8590941720', '8590942191', '21550709511', '8589977082', '8590921067', '8589967598', '8590936034', '21613367736', '21664210160', '8590932534', '8590933875', '8589993670', '8590027873', '8590935846', '8589935842', '8589952350', '8590928650', '21688398460', '8590926797', '21536095627', '8590186859', '8590921434', '8590940126', '8590929725', '8590937678', '8591385207', '8590838850', '8590943366', '8590931914', '8590941897', '46639507637', '8590935573', '8590936798', '21561047813', '8590935430', '8590939203', '8590932972', '8590924619', '21714779175', '8590070563', '21643713682', '21662989672', '8590929426', '8590943368', '21524673618', '21537023973', '21475047241', '21536757647', '8590932780', '8590927097', '8590019202', '8590920285', '8590934169', '8591026611', '21511345820', '8590932391', '8590927471', '8590936208', '8590924168', '8590940374', '8590932353', '8590924034', '46638637044', '8590927855', '8591107993', '8590009638', '21515862141', '18068501590', '8590929719', '8590936919', '18068423596', '192760971210', '8590927788', '8590926113', '21704573337', '21525808142', '8590923184', '8589967760', '21525149482', '21521069854', '8590975040', '21547069948', '8589967703', '8590933455', '8589947003', '8590920349', '8590936225', '21702129013', '46638681604', '8590921086', '8589946439', '21626864460', '8590920554', '8589999662', '8590923047', '8590937182', '8590934779', '8589939362', '21540531706', '8591107556', '21621500073', '25727419119', '21678527596', '8590942232', '25727370165', '8591047865', '8590931177', '8590920518', '44647051291', '8590925468', '8590936804', '8590938840', '8591366082', '8589997989', '8590929456', '8591073871', '21633339728', '8590924578', '8590932288', '21597800438', '8589943868', '8589987509', '8590931938', '8590933587', '21656574926', '8589965309', '8590936391', '8590930819', '8590912551', '8590926521', '8590939970', '21664207735', '8590930586', '21475889490', '8590934569', '25727367317', '21504353352', '8590935084', '8590934602', '8590008023', '21519283108', '8590921395', '8590920513', '8589999047', '8589944881', '8590937609', '8591387315', '8590003583', '8590924802', '25727263389', '8590927778', '8590929140', '21475892641', '8591027394', '8590923385', '21475752425', '8590926071', '21538366500', '8590930981', '8590930511', '8590939275', '21553944705', '8590933358', '21527352953', '21542627143', '8590927329', '8590932260', '8590699459', '8590942261', '8590003824', '8590943138', '8590928078', '8590929595', '8590930909', '25727309666', '8591403895', '8590930259', '8590930318', '25727439192', '8590021752', '8590942091', '8589973083', '8590925336', '21578745191', '8590936861', '18068303895', '8589990220', '21523725400', '8590928424', '8590943448', '8590933926', '8590939422', '8591252086', '21475846702', '8590920511', '21554021631', '8590931341', '8590934928', '8589991715', '21475089440', '8590934944', '8590936524', '8590927947', '8590920917', '8590924932', '8590938362', '21498179008', '21476099098', '8590941010', '8590926123', '8589948862', '21475849246', '21640353744', '21548756022', '8589942948', '8590941293', '21598701384', '21523816620', '21665086700', '21535277816', '8589955934', '8590930036', '8590924477', '8590931343', '8590921690', '8590923085', '8591340873', '21561266056', '8590000231', '8590936335', '8590938522', '8589940908', '8589958973', '21574767700', '8590921618', '15631217824', '21520460073', '8590922901', '21655922769', '8590924871', '8590004703', '8591353374', '8590939883', '8590020349', '21692106986', '8590929053', '8589985306', '8590936065', '8590931238', '8590920815', '21475829302', '21560615245', '21511694478', '8590923559', '8589954704', '8590940855', '8590937563', '8589977763', '8590929936', '8590923684', '8590929493', '8590933683', '8591349021', '21594564371', '21542200153', '8590943681', '21482736192', '8590312112', '21475870621', '8590937607', '21475855582', '8590921831', '25727363498', '21534031518', '21661214728', '8590923793', '8590941902', '21623455187', '8590926030', '21644696628', '8590943211', '8589942993', '8591024513', '8590929251', '21543437552', '44644458800', '8590941013', '8590933428', '8590939088', '8590927384', '8590929104', '44657721464', '8589949222', '21525813962', '8590020079', '8589967504', '8590019442', '21649116648', '46637737914', '8590926671', '21575352132', '21475081120', '8590925021', '8590937017', '8590929798', '21498229894', '8590932022', '21574552824', '8590935634', '8590922037', '8591328462', '8590933679', '8590935960', '15630235198', '8590929476', '8590933146', '8590010262', '8591399727', '8590926434', '21581840232', '8590940336', '8590927393', '8590937871', '8590926236', '21611878642', '8590022344', '8590932199', '21552032594', '46638100687', '8589947633', '21524926007', '21475865001', '21523350200', '21574177896', '25727309187', '21639351365', '46638008873', '21661984790', '8590932191', '8590933138', '21477412996', '8590932974', '8590939145', '8590925906', '8590985013', '8590920939', '192802762465', '8590931701', '8590932137', '8590938729', '21601433955', '8590940866', '8589999736', '8590930510', '8590920504', '21525255039', '8590932836', '25727405759', '8590932841', '21475134982', '8590937273', '8590920822', '8590933184', '21616767067', '8590937171', '8590939322', '8590923416', '8590938101', '8590933432', '8590943624', '8590922467', '8590939215', '8589986224', '21543150288', '8590022099', '21599145466', '46637958898', '25727314403', '8590922371', '8590936859', '21567595119', '8590927903', '21539536048', '21610026145', '8590937926', '46637787089', '8590941702', '8591108910', '21475762362', '8589970204', '8590921622', '21550929902', '8590943019', '8590930455', '8590938983', '44643095760', '8590931663', '8590936259', '8590931120', '21558888782', '8591391698', '8590923339', '21476114661', '8590937768', '25727404818', '8589945490', '8590938415', '8590943741', '21633339729', '8590920489', '8590934136', '21614924722', '8590013612', '8590937633', '25727373291', '8589992649', '21475798341', '21710088096', '8590928501', '8590937532', '8590941285', '8590930241', '8590933666', '21475786261', '8591027396', '8591046003', '44647909072', '192761139554', '8590936438', '8590933507', '8589952539', '21719021098', '21525855480', '25727405845', '8590938090', '8590070495', '21514286480', '21545732211', '8590025330', '8590938357', '8590929486', '8590938469', '8590921508', '8590924817', '25727404858', '8590932833', '8591244698', '8589992362', '21483117774', '21522382459', '15630932593', '8590920386', '8590920271', '46637927242', '8590938717', '8590922026', '8590925540', '8590937351', '8590924937', '8590937250', '8590922432', '8591027417', '25727314926', '8590934316', '8590943188', '44651806222', '8589975717', '8590939613', '8590925535', '8590925323', '21575794730', '8590922398', '21543089108', '21475031081', '8590272403', '8590927728', '21519988618', '8590943702', '8590941028', '8591106370', '8590936732', '8590932308', '8590928468', '8590935962', '21533742660', '25727394954', '21548127423', '46636383378', '21532248717', '21503837665', '21538340379', '8590934542', '8590011552', '8591266437', '8590926247', '46638049134', '8590930848', '8591107945', '8590935625', '21538441886', '8589992535', '8590019738', '8590274948', '21475368420', '8590942989', '21514939028', '8590922665', '46641451154', '8590923575', '8590935244', '21603245536', '21520009547', '8590941247', '8590932822', '8590923209', '8589957346', '8590923923', '8590924282', '8589980346', '21526380804', '8589978442', '21475883941', '8590923877', '8590942423', '8590931332', '8589999299', '25727434299', '8589975357', '46638044738', '8590935431', '8590922159', '21565777014', '8590922453', '21693967124', '8590942363', '8590941784', '21668540167', '8590920304', '8589980092', '21511633595', '21475137080', '8589995539', '8590942965', '46638049139', '21664046324', '25727291963', '8590938811', '8589948074', '8590928276', '8590920934', '8590923153', '8590929522', '8589938496', '21475148674', '21595342327', '21598434695', '21580787323', '8590938539', '8590939729', '8590931645', '8590932920', '8590017164', '21528627906', '8590964666', '25727405656', '21586064661', '21625068619', '8590941946', '8590921580', '21573510625', '8591106166', '21559710390', '8590964705', '21604644667', '8590928840', '192807817555', '8590931607', '8590939485', '25727404069', '8590928805', '8589950541', '8590936126', '21621504900', '46642007293', '21609251256', '21626521796', '8590943435', '21475840921', '21685335699', '21497536547', '8590940087', '8590938475', '8590024230', '21499578106', '8590942257', '21538762493', '21577575163', '8589959621', '8590937027', '8590942126', '21611435017', '8589945611', '21559260065', '8590925835', '8590941213', '44653740376', '46639521134', '8589950708', '21475109060', '8590927548', '21595467107', '8590924842', '8590940533', '8590931372', '8590937382', '8590927475', '8589944436', '21553140480', '21535374042', '8590923784', '21504477429', '8590941672', '21591260163', '8590943866', '8590936930', '8590935469', '21494380756', '8590937282', '8590935752', '8590921236', '8590926053', '8590925752', '8589984156', '8591365124', '8590940165', '21535117808', '8590934743', '8590929734', '21711884151', '8590937301', '8590921696', '21475032164', '46638283516', '8590934342', '8589994219', '25727340894', '8590929287', '21609114626', '8589979372', '8590942453', '8590940796', '8590933118', '46638697115', '8590942656', '25727346367', '8589949537', '8589946235', '8590924557', '44655630797', '8590938788', '8590923046', '8589969578', '8590964879', '21578956828', '8590921724', '8590932614', '8590942682', '8590941126', '8590938688', '44657483120', '8590928518', '25727401398', '46643374299', '8590935722', '8590930429', '8590934618', '8590925871', '8589954930', '8590942482', '8590927687', '8589990543', '21595678260', '21559134613', '21616617461', '8591108835', '21713858261', '8590942311', '8591353752', '21488827415', '21634470329', '21648817437', '21475012820', '21591864486', '8590939326', '25727401606', '21516587373', '8590730701', '8590929923', '8589971422', '8590923604', '8591366425', '21475141120', '8590936843', '8590932490', '21475112325', '8591274095', '8590010097', '8590929396', '8590927218', '8590938543', '8590932775', '8590933439', '8590943067', '21589630213', '8590933233', '8589943126', '21679134968', '21478784552', '21539143412', '8590940525', '8590929733', '46641021086', '21475256424', '8590942442', '8590929915', '8589981480', '21480814010', '8590937479', '8590933181', '8590920435', '8590931626', '8590921858', '8590925391', '25727393263', '8589973007', '21526243048', '8590933032', '21475882301', '8591399738', '8590928844', '21537809856', '232770039842', '8590922516', '8590934407', '8590921877', '25727323241', '8590926231', '8590931129', '8590964767', '8589983260', '44658805181', '21622857067', '8589957588', '21611808703', '8591045396', '8590004012', '8590928223', '8590921275', '8590931898', '8590931012', '8591331761', '8590919695', '8590932246', '8590932776', '21697411220', '8591017459', '8589971476', '8590935183', '8590015658', '8590942415', '8590926044', '8590928013', '46638049251', '8590935241', '44653324135', '8590005656', '

###  Request CommonName and OrganizationStatusCode - small list of Permids

In [47]:
# Requires permissions trapi.data.get.data.read, if absent will result in error 403 - access denied
# contact your Refinitiv account manager to verify permissions in place
rd.get_data(
    universe=['8590922809', '8590939219', '21581971624', '21483864933'],
    fields=['TR.CommonName','TR.OrganizationStatusCode','TR.Revenue']    
)

    Instrument    Company Common Name Organization Status Code      Revenue
0   8590922809       Forward Air Corp                      Act   1662427000
1   8590939219  Judges Scientific PLC                      Act     91289000
2  21581971624  US Foods Holding Corp                      Act  29487000000
3  21483864933      Carlyle Group Inc                      Act   8782100000

###  Request CommonName and OrganizationStatusCode - Loop Permid Chunks
The request is partitioned into chunks of size N (default is 1000), as the full list of a larger size may result in an error

In [48]:
N = 1000
myPermidChunks = list_to_chunks(permids, N)
dataAll = []
dfAll = pd.DataFrame()
for i in range(len(myPermidChunks)):
    print('Iteration #',i)
    dfResp = rd.get_data(
        universe=myPermidChunks[i],
        fields=['TR.CommonName','TR.OrganizationStatusCode','TR.Revenue']    
    )
    dataAll.append(dfResp)
    #print(resp)
dfAll = pd.concat(dataAll,ignore_index=True)
print('Displaying full result:')
display(dfAll)

Iteration # 0
Iteration # 1
Iteration # 2
Displaying full result:

,Instrument,Company Common Name,Organization Status Code,Revenue
0,8590929771,National Health Investors Inc,Act,298715000
1,8590933028,Frontline Ltd,Act,749381000
2,8589999123,KWS SAAT SE & Co KgaA,Act,1310232000
3,8590923508,Winmark Corp,Act,78216200
4,8590937427,Enerpac Tool Group Corp,Act,528660000
5,8590016136,CVR Energy Inc,Act,7242000000
6,8590932594,Azkoyen SA,Act,138866000
7,8590936959,Tenaris SA,Act,6521207000
8,8590937417,Zimmer Biomet Holdings Inc,Act,7836200000
9,8590922042,Sekisui Chemical Co Ltd,Act,1056560000000
10,8590927771,DICK'S Sporting Goods Inc,Act,12293368000
11,8590929567,Petroleo Brasileiro SA Petrobras,Act,452668000000
12,8590920986,Cognex Corp,Act,1037098000
13,21568435680,Immunitybio Inc,Act,934000
14,21660454628,Gritstone bio Inc,Act,48214000
15,21655477179,CNFinance Holdings Ltd,Act,1397806000
16,46641209213,Royal Bank of Canada,Act,<NA>
17,8590937866,Dogan Sirketler Grubu Holding AS,Act,16920914000
18,8590927621,Adamis Pharmaceuticals Corp,Act,2208680
19,8590940970,Peoples Bancorp of North Carolina Inc,Act,
20,8590932013,Harmonic Inc,Act,507149000
21,21714622057,Progyny Inc,Act,500621000
22,8590006632,PROG Holdings Inc,Act,2677920000
23,8590934322,Tata Motors Ltd,Act,2481631400000
24,25727309955,Lufax Holding Ltd,Act,61866050000
25,8590935027,3D Systems Corp,Act,615639000
26,8590931864,Olympus Corp,Act,730544000000
27,8590929138,TX Group AG,Act,957349000
28,8590940422,Vericel Corp,Act,156184000
29,8590926849,Lenzing AG,Act,2194624000
30,8590926257,Mazda Motor Corp,Act,2882066000000
31,8590059136,TMBThanachart Bank PCL,Act,
32,21577420062,Purplebricks Group PLC,Act,90900000
33,8590920825,Silvercorp Metals Inc,Act,192105000
34,8590938568,SKY Network Television Ltd,Act,724754000
35,8590938516,Trinity Industries Inc,Act,1516000000
36,21612525419,Hyundai Construction Equipment Co Ltd,Act,3284339623000
37,21529526222,Braemar Hotels & Resorts Inc,Act,427542000
38,21503758337,WELL Health Technologies Corp,Act,302324000
39,8590925675,Tupperware Brands Corp,Act,1602300000
40,8590926861,Oji Holdings Corp,Act,1358985000000
41,8590931671,Sandfire Resources Ltd,Act,605150447
42,8590936801,Deckers Outdoor Corp,Act,2545641000
43,21693338510,Verallia SAS,Act,2674000000
44,8589970110,Evergreen International Storage & Transport Corp,Act,8880226000
45,192880974844,New Residential Investment Corp,Act,<NA>
46,21615062550,Maiden Holdings Ltd,Act,
47,8590922763,Capricorn Energy PLC,Act,64400000
48,8590923171,Umicore SA,Act,24054439000
49,8590941202,Willis Lease Finance Corp,Act,274202000
50,8590930028,Vale SA,Act,293524000000
51,21651361483,Tricida Inc,Act,
52,8590935535,Encompass Health Corp,Act,5121600000
53,8590925175,Sirius Real Estate Ltd,Act,165361000
54,8590923699,Riley Exploration Permian Inc,Act,151036000
55,8590925038,Mizuho Financial Group Inc,Act,
56,8590938374,Oracle Corp,Act,40479000000
57,8590928778,Wisdom Tree Investments Inc,Act,304318000
58,8590935043,Fresh Del Monte Produce Inc,Act,4252000000
59,8590943370,Flux Power Holdings Inc,Act,26257000
60,8590920874,Grupo Simec SAB de CV,Act,35957161000
61,8590938914,Century Aluminum Co,Act,2212500000
62,8590928692,Ballantyne Strong Inc,Act,27030000
63,21632919931,Evolus Inc,Act,99673000
64,8590855063,Bank of America Corp,Act,
65,21530246903,CNH Industrial NV,Act,19474000000
66,25727426360,Hf Foods Group Inc,Act,566831080
67,8591400076,Sienna Senior Living Inc,Act,668494000
68,8590936428,Reed's Inc,Act,41615000
69,8590922619,AGCO Corp,Act,11138300000
70,8590930948,Huttig Building Products Inc,Act,937800000
71,8590921699,Burberry Group PLC,Act,2343900000
72,21532324495,A-Mark Precious Metals Inc,Act,7613015000
73,8590930783,Henkel AG & Co KGaA,Act,20066000000
74,21595625720,elf Beauty Inc,Act,318110000
75,8589945172,Toray Industries Inc,Act,1883600000000
76,8590934250,Immutep Ltd,Act,418170
77,25727427343,Falcon Minerals Corp,Act,68008000
78,8589955056,Hannover Rueck SE,Act,
79,8590924605,Fuelcell Energy Inc,Act,69585000
80,8590684044,Anworth Mortgage Asset Corp (Pre-merger),InAct,17695000
81,21579204923,Azure Power Global Ltd,Act,15236000000
82,21731302656,Musti Group Oyj,Act,340856000
83,8589990337,Torex Gold Resources Inc,Act,855800000
84,21475805364,Chefs' Warehouse Inc,Act,1745757000
85,8591366661,Kaisa Group Holdings Ltd,Act,55770181000
86,21624465435,Merchants Bancorp,Act,
87,21591260129,Yeti Holdings Inc,Act,1410989000
88,21542987975,Rayonier Advanced Materials Inc,Act,1407558000
89,8590935277,Indus Realty Trust Inc,Act,42339000
90,21475110602,Central Asia Metals PLC,Act,223372000
91,21475817181,Odfjell Drilling Ltd,Act,863853000
92,21484014767,Grupo Aval Acciones y Valores SA,Act,
93,8590927694,Walgreens Boots Alliance Inc,Act,132509000000
94,8590921865,East West Bancorp Inc,Act,
95,8590919873,Toyota Motor Corp,Act,27214594000000
96,25727373235,Kontoor Brands Inc,Act,2475916000
97,8590940450,Golar LNG Ltd,Act,451765000
98,8590936918,Konecranes Abp,Act,3185700000
99,21559544650,CK Hutchison Holdings Ltd,Act,280847000000
100,8590932771,Smith & Wesson Brands Inc,Act,1059195000
101,8590214554,TMBThanachart Bank PCL,Act,
102,21475779046,Element Fleet Management Corp,Act,1582041000
103,21568264187,Lumentum Holdings Inc,Act,1742800000
104,8590936762,Avid Technology Inc,Act,409944000
105,8590925717,Evans Bancorp Inc,Act,
106,8590921950,Gecina SA,Act,613332000
107,8590941868,Intrepid Potash Inc,Act,270332000
108,8590943340,TomTom NV,Act,506926000
109,21519861835,Citizens Financial Group Inc,Act,
110,8590927956,Central Pacific Financial Corp,Act,
111,21696905217,Akero Therapeutics Inc,Act,
112,21526110782,TransAlta Renewables Inc,Act,470000000
113,21559327692,Royal Bank of Canada,Act,
114,8590925750,O-I Glass Inc,Act,6357000000
115,21530118294,Biocept Inc,Act,61249000
116,8590934954,Donaldson Company Inc,Act,2853900000
117,8590942892,Autozone Inc,Act,14629585000
118,8590926855,Hibbett Inc,Act,1691184000
119,21577576597,Genscript Biotech Corp,Act,511062000
120,8590933300,Simcorp A/S,Act,496274000
121,8590931163,Mettler-Toledo International Inc,Act,3717930000
122,21561786108,Shopify Inc,Act,4611856000
123,18068218945,<NA>,<NA>,<NA>
124,8590024802,Kubota Corp,Act,2196766000000
125,21525959210,Marrone Bio Innovations Inc,Act,44310000
126,8589971182,Shinsegae Inc,Act,6316435934250
127,21564174544,Teladoc Health Inc,Act,2032707000
128,21655798352,Mesa Air Group Inc,Act,503591000
129,8590934401,Kone Oyj,Act,10514100000
130,8589940886,First Mid Bancshares Inc,Act,
131,21522115255,ChannelAdvisor Corp,Act,167729000
132,192893745534,Boston Scientific Corp,Act,<NA>
133,8590932753,Range Resources Corp,Act,3580439000
134,8590925279,Olympic Steel Inc,Act,2312253000
135,8590928393,Carver Bancorp Inc,Act,
136,25727442569,Gty Technology Holdings Inc,Act,60453000
137,8591255736,Industria de Diseno Textil SA,Act,27716000000
138,8589994438,Redrow PLC,Act,1939000000
139,25727346271,Trean Insurance Group Inc,Act,
140,8590920199,Alamo Group Inc,Act,1334223000
141,25727399663,Energy Transfer Operating LP,InAct,38954000000
142,8590934525,Barnes Group Inc,Act,1258846000
143,8589988037,Marcus Corp,Act,458244000
144,8590939941,Achieve Life Sciences Inc,Act,
145,8590921161,Odakyu Electric Railway Co Ltd,Act,385978000000
146,21644460234,Spirit of Texas Bancshares Inc,Act,
147,8591403848,LiqTech International Inc,Act,18273440
148,8590920862,Washington Real Estate Investment Trust,Act,169151000
149,21566985559,Performance Food Group Co,Act,30398900000
150,21513904077,NSI NV,Act,77507000
151,8590924953,Genpact Ltd,Act,4022211000
152,21530935737,Immunic Inc,Act,
153,8590932795,Ames National Corp,Act,
154,192791974129,CAI International Inc,Act,<NA>
155,8590920754,Cinemark Holdings Inc,Act,1510464000
156,21627494412,Industrial Logistics Properties Trust,Act,219874000
157,8590919743,NTN Corp,Act,562847000000
158,21569626398,Purple Innovation Inc,Act,726227000
159,8589941924,Denso Corp,Act,4936725000000
160,232764189339,Sabre Corp,Act,<NA>
161,21611314948,NCS Multistage Holdings Inc,Act,118502000
162,21653171339,EverQuote Inc,Act,418515000
163,8590935685,T Rowe Price Group Inc,Act,7671900000
164,25727268308,Troika Media Group Inc,Act,16192000
165,8590940951,Diamond Hill Investment Group Inc,Act,182193840
166,8589944151,Euroseas Ltd,Act,93893950
167,8590922082,Devon Energy Corp,Act,12206000000
168,8590943501,AMP Ltd,Act,3081000000
169,8590005600,Allegiant Travel Co,Act,1707910000
170,8590921051,Axcelis Technologies Inc,Act,662428000
171,8590923998,NewMarket Corp,Act,2356110000
172,8590942760,Designer Brands Inc,Act,3196583000
173,44654477575,Laurentian Bank of Canada,Act,<NA>
174,8590005841,Reading International Inc,Act,139060000
175,8589956852,LGL Group Inc,Act,28140000
176,8590937626,IPG Photonics Corp,Act,1460860000
177,21691059424,NextCure Inc,Act,0
178,8590924142,Bancolombia SA,Act,
179,8590943385,Benesse Holdings Inc,Act,427531000000
180,8589998272,Superior Group of Companies Inc,Act,536986000
181,8590933998,Canon Marketing Japan Inc,Act,552085000000
182,8590919874,TFI International Inc,Act,7220429000
183,46639304952,Laurentian Bank of Canada,Act,<NA>
184,21644521289,Inspire Medical Systems Inc,Act,233394000
185,21696817783,Personalis Inc,Act,85494000
186,25727426996,Concrete Pumping Holdings Inc,Act,315808000
187,8590938893,Restore PLC,Act,234300000
188,8589938120,Tokyo Century Corp,Act,1200184000000
189,8590935185,Associated Banc-Corp,Act,
190,8590931957,Kirby Corp,Act,2246660000
191,8589981865,First of Long Island Corp,Act,
192,8590939862,ABIOMED Inc,Act,847522000
193,8590929471,Genting Plantations Bhd,Act,3130171000
194,8590920790,McCormick & Company Inc,Act,6317900000
195,8590931323,Hakuhodo DY Holdings Inc,Act,1297947000000
196,8590028834,Radiant Logistics Inc,Act,889124000
197,8589991526,Prosiebensat 1 Media SE,Act,4494000000
198,21585425786,Yihai International Holding Ltd,Act,5942617000
199,21618750211,Venator Materials PLC,Act,2212000000
200,8589950981,Protalix Biotherapeutics Inc,Act,38350000
201,8589941287,Howmet Aerospace Inc,Act,4972000000
202,8590009117,Hugo Boss AG,Act,2786110000
203,8590935064,Dillard's Inc,Act,6624267000
204,25727341281,Xpeng Inc,Act,20988131000
205,21513156676,Leonteq AG,Act,420611000
206,8590932230,Werner Enterprises Inc,Act,2734372000
207,8590926979,Bank of Nova Scotia,Act,
208,25727414850,Vivint Smart Home Inc,Act,1479388000
209,21664175888,SIG Combibloc Group AG,Act,2061800000
210,8590938349,ARB Corp Ltd,Act,623223000
211,8590920452,Shenandoah Telecommunications Co,Act,245239000
212,8590934927,Primary Health Properties PLC,Act,145600000
213,8590925566,EFG International AG,Act,
214,8591315584,Workhorse Group Inc,Act,-851920
215,21571716821,Mimecast Ltd,Act,501399000
216,8590926933,Temenos AG,Act,967002000
217,21474961341,NeoPhotonics Corp,Act,290289000
218,21688010272,Turning Point Therapeutics Inc,Act,30829000
219,8589965714,Carter Bankshares Inc,Act,
220,25727360758,Centogene NV,Act,189923000
221,8590937757,ATS Automation Tooling Systems Inc,Act,1430052000
222,21770222106,SSR Mining Inc,Act,1474199000
223,21518993585,PennyMac Financial Services Inc,Act,3558060000
224,21477564384,Verastem Inc,Act,2053000
225,8590926501,Cigna Corp,Act,
226,8590941853,Gold Fields Ltd,Act,4195200000
227,21644421825,Construction Partners Inc,Act,910739000
228,8589964839,BankFinancial Corp,Act,
229,8590929924,Borgwarner Inc,Act,14838000000
230,8590935044,Avery Dennison Corp,Act,8408300000
231,8590001383,Cambridge Bancorp,Act,
232,8589956258,MonotaRO Co Ltd,Act,189731000000
233,21581971624,US Foods Holding Corp,Act,29487000000
234,8590939442,Vetropack Holding SA,Act,816500000
235,21475873261,US Silica Holdings Inc,Act,1103879000
236,21549740100,Evofem Biosciences Inc,Act,8244000
237,8590932003,Synalloy Corp,Act,334715000
238,8590941696,Pentair PLC,Act,3764800000
239,21475005022,Electromed Inc,Act,35756000
240,8590014674,Israel Corporation Ltd,Act,6955000000
241,21622447096,CarGurus Inc,Act,951373000
242,8590943416,Sino Biopharmaceutical Ltd,Act,26861356000
243,44642980367,Maiden Holdings Ltd,Act,<NA>
244,8590004582,Olympus Corp,Act,
245,8589959990,Baillie Gifford Shin Nippon PLC,Act,164688000
246,8590000823,Takkt AG,Act,1177972000
247,8590925601,Freightways Ltd,Act,800533000
248,8590925116,Grupo Aeroportuario del Pacifico SAB de CV,Act,19014906000
249,8590932231,Fielmann AG,Act,1680000000
250,8590921344,Metropole Television SA,Act,1390400000
251,21531376670,TCS Group Holding PLC,Act,
252,8590928471,Nippon Paper Industries Co Ltd,Act,1007339000000
253,21619744419,Cherry Hill Mortgage Investment Corp,Act,47515000
254,8589971738,Schweitzer-Mauduit International Inc,Act,1440000000
255,8590941996,Nautilus Inc,Act,206075000
256,21569833122,Aclaris Therapeutics Inc,Act,6761000
257,21612783743,Co-Diagnostics Inc,Act,97885600
258,8590924718,Limestone Bancorp Inc,Act,
259,8590930850,Abrdn PLC,Act,1685000000
260,8591107952,Enagas SA,Act,975686000
261,21525025100,Histogen Inc,Act,1032000
262,8590933353,Meritage Homes Corp,Act,5141317000
263,8590930111,VAALCO Energy Inc,Act,199075000
264,8590932817,bet-at-home.com AG,Act,59347000
265,8591316865,Quest Resource Holding Corp,Act,155715370
266,8590935024,UnitedHealth Group Inc,Act,
267,8590934492,Gildan Activewear Inc,Act,2922570000
268,8589980816,VolitionRX Ltd,Act,90040
269,25727382624,Cherry Hill Mortgage Investment Corp,Act,47515000
270,21475752581,Lumos Pharma Inc,Act,230000
271,8589945569,New Work SE,Act,290857000
272,8590928085,Alten SA,Act,2925200000
273,8590938243,ImmuCell Corp,Act,19242970
274,8590928623,JCDecaux SA,Act,2522500000
275,21532058321,Autohome Inc,Act,7237004000
276,8590938668,Swiss Prime Site AG,Act,732095000
277,8589999652,Armstrong World Industries Inc,Act,1106600000
278,21564568995,Europris ASA,Act,8568379000
279,21534717517,Revance Therapeutics Inc,Act,77798000
280,8590933657,Natural Alternatives International Inc,Act,178520000
281,21565417338,Talanx AG,Act,
282,8590935321,Macerich Co,Act,847437000
283,8590934503,Webjet Ltd,Act,38500000
284,8589959590,1st Source Corp,Act,
285,21475202173,Nicolet Bankshares Inc,Act,
286,21475775642,Nexon Co Ltd,Act,274462000000
287,21659942091,Farfetch Ltd,Act,2256608000
288,25727268846,KKR Real Estate Finance Trust Inc,Act,292133000
289,8589961538,Empire Company Ltd,Act,28268300000
290,8591107580,Boliden AB,Act,68636000000
291,8590934327,DENTSPLY SIRONA Inc,Act,4251000000
292,25727351078,Madison Square Garden Entertainment Corp,Act,180401000
293,21658142820,Elanco Animal Health Inc,Act,4765000000
294,25727419020,Regional Health Properties Inc,Act,26690000
295,8589949320,Sandstorm Gold Ltd,Act,114860000
296,8590018354,Cineplex Inc,Act,656669000
297,21523065605,Cherry Hill Mortgage Investment Corp,Act,47515000
298,21535435038,Pembina Pipeline Corp,Act,8627000000
299,21475129201,Tourmaline Oil Corp,Act,4287878000
300,8589946507,Avalon Holdings Corp,Act,70383000
301,21684630888,Danaher Corp,Act,29453000000
302,8590941287,Fuji Media Holdings Inc,Act,519941000000
303,8590925745,Mobilezone Holding AG,Act,981537000
304,8590929332,Limelight Networks Inc,Act,217630000
305,8590938671,Lincoln National Corp,Act,
306,8590933576,Timberland Bancorp Inc,Act,
307,25727349705,Wintrust Financial Corp,Act,
308,8590927208,Compagnie Generale des Etablissements Michelin SCA,Act,23795000000
309,8590935970,China Mengniu Dairy Co Ltd,Act,88141475000
310,21475895525,Taisho Pharmaceutical Holdings Co Ltd,Act,281980000000
311,8590936047,SWK Holdings Corp,Act,56155000
312,8590932360,Magna International Inc,Act,36242000000
313,8590932268,Semtech Corp,Act,740858000
314,8590934124,Hang Lung Group Ltd,Act,10919000000
315,21551286180,Bellicum Pharmaceuticals Inc,Act,6200000
316,25727344622,Nurix Therapeutics Inc,Act,29750000
317,25727263312,Valneva SE,Act,348086000
318,21639249672,IntegraFin Holdings plc,Act,123670000
319,44655517646,Royal Bank of Canada,Act,<NA>
320,21528061039,Murphy Usa Inc,Act,17360500000
321,8590937302,Mirati Therapeutics Inc,Act,72092000
322,8589982198,Fidelity D&D Bancorp Inc,Act,
323,8590926603,Sumitomo Chemical Co Ltd,Act,2286978000000
324,21558736459,Troax Group AB (publ),Act,252278000
325,8590936483,MGIC Investment Corp,Act,
326,21530854922,BGSF Inc,Act,239027180
327,8589953014,Enghouse Systems Ltd,Act,467177000
328,21636820493,Neoen SA,Act,333600000
329,46639188818,Braemar Hotels & Resorts Inc,Act,<NA>
330,8590927281,Intevac Inc,Act,38524000
331,8589972653,Yamaguchi Financial Group Inc,Act,
332,21543872618,Viking Therapeutics Inc,Act,0
333,8590931811,Surgutneftegaz PAO,Act,1075222000000
334,8590941930,Vanda Pharmaceuticals Inc,Act,268682000
335,21573970676,Voyager Therapeutics Inc,Act,37415000
336,8590931157,Donegal Group Inc,Act,
337,8589974405,Coretronic Corp,Act,49833368000
338,8590941841,Prophase Labs Inc,Act,79042000
339,21475838741,Grifols SA,Act,4933118000
340,21475136402,K92 Mining Inc,Act,154326000
341,8590936113,Koninklijke Philips NV,Act,17156000000
342,21490400231,Atossa Therapeutics Inc,Act,
343,8589942003,Western New England Bancorp Inc,Act,
344,8590964748,Samsung Electronics Co Ltd,Act,279604799000000
345,8591360585,Hyatt Hotels Corp,Act,3028000000
346,8590939219,Judges Scientific PLC,Act,91289000
347,8590940941,Pagegroup PLC,Act,1643740000
348,8590930485,Oncternal Therapeutics Inc,Act,4315000
349,21611256746,Select Energy Services Inc,Act,764620000
350,8590932326,Greif Inc,Act,5556100000
351,8590942398,Callaway Golf Co,Act,3133447000
352,21565669858,TopBuild Corp,Act,3486207000
353,8590931338,Lincoln Educational Services Corp,Act,335336000
354,8590926662,Northwest Pipe Co,Act,333313000
355,8590927943,GATX Corp,Act,1257400000
356,25727265566,Energy Transfer LP,Act,67417000000
357,8590923571,Nel ASA,Act,798001000
358,8590923379,St Galler Kantonalbank AG,Act,
359,8590931254,Marten Transport Ltd,Act,973644000
360,8590005903,Kyoritsu Maintenance Co Ltd,Act,121281000000
361,21524853922,TD Holdings Inc,Act,
362,8590938104,Intricon Corp,Act,125206000
363,8591061139,First Savings Financial Group Inc,Act,
364,25727392975,Grid Dynamics Holdings Inc,Act,211280000
365,8590932272,FMC Corp,Act,5045200000
366,8590926791,Dine Brands Global Inc,Act,896167000
367,25727323217,Prelude Therapeutics Inc,Act,
368,8589985732,Reading International Inc,Act,139060000
369,8590922073,Kemira Oyj,Act,2674400000
370,21701689594,Sunnova Energy International Inc,Act,241752000
371,8590011698,Mizuho Financial Group Inc,Act,
372,8590931695,Extra Space Storage Inc,Act,1577362000
373,8590938265,Alumina Ltd,Act,0
374,21485226863,Post Holdings Inc,Act,6226700000
375,21756787535,Shenzhen Hepalink Pharmaceutical Group Co Ltd,Act,6422761000
376,44654041635,Element Fleet Management Corp,Act,<NA>
377,8590931146,Hawthorn Bancshares Inc,Act,
378,21647020692,Scholar Rock Holding Corp,Act,18816000
379,8590940553,Badger Meter Inc,Act,505198000
380,46640389784,Royal Bank of Canada,Act,<NA>
381,8590937225,Cresud SACIF y A,Act,42411000000
382,8590922216,Albemarle Corp,Act,3327957000
383,21653167851,Neuronetics Inc,Act,55312000
384,8589982374,Walsin Technology Corp,Act,42108708000
385,8590932556,Volkswagen AG,Act,250200000000
386,8590935070,Insmed Inc,Act,188461000
387,21540107206,Tuniu Corp,Act,426348000
388,21475849041,AMC Networks Inc,Act,3077608000
389,8590934693,Alliant Energy Corp,Act,3537000000
390,21541978866,River and Mercantile Group PLC,Act,74276000
391,8590933868,Fennec Pharmaceuticals Inc,Act,0
392,8590921933,NovaGold Resources Inc,Act,
393,21660536389,Volkswagen AG,Act,230682000000
394,21561469798,Pembina Pipeline Corp,Act,8627000000
395,21623728546,Metropolitan Bank Holding Corp,Act,
396,8590930225,Telefonaktiebolaget LM Ericsson,Act,232314000000
397,8590922193,Hess Corp,Act,7473000000
398,8590927334,Golden Ocean Group Ltd,Act,1203181000
399,8590026010,Industrias Bachoco SAB de CV,Act,81699068000
400,8590936365,Silver Lake Resources Ltd,Act,598293000
401,21603676696,S4 Capital PLC,Act,342687000
402,8591002427,Lithium Corp,Act,0
403,8590921146,Textainer Group Holdings Ltd,Act,853364000
404,8590942161,Psychemedics Corp,Act,24909000
405,8590926240,SAP SE,Act,27842000000

## Close the session

In [49]:
rd.close_session()